body{
    background-color: darkcyan;
}
h1 {
    text-align: center;
    text-decoration: underline;
    color: rgb(99, 133, 65);
    text-indent: 30px;
}
h2 {
    text-align: center;
    color: rgb(71, 128, 128);
    text-transform: initial;
}
h3 {
    text-align: center;
    color: rgb(144, 54, 54);
    text-decoration: line-through;
}
p {
    text-align: justify;
    color: black;
    letter-spacing: normal;
}